.favoriteBlock {
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 25px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: -webkit-gradient(linear, left top, left bottom, from(#1e3942), to(#929292));
        background: linear-gradient(180deg, #042b3875, #9292928f);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#1e3942));
        background: linear-gradient(180deg, #92929293, #042b38a9);
    }

    .favoriteHeader {
        font-size: 1.35rem;
        color: rgb(167, 167, 167);
        margin-bottom: 20px;
        user-select: none;
    }

    .favoriteBtn {
        display: none;
    }
}
